<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.darchangel.shoppingTweeter"
	android:versionCode="1"
	android:versionName="1.0"
	android:installLocation="auto">

	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name">
		<activity
			android:name=".ShoppingTweeter"
			android:label="@string/app_name"
			android:launchMode="singleTask">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".Pref"
			android:label="pref"
			android:launchMode="singleTask">
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<category
					android:name="android.intent.category.BROWSABLE" />
				<data
					android:scheme="shoppingtweeter"
					android:host="oauth" />
			</intent-filter>
		</activity>
		<activity
			android:name="TwitterLogin"></activity>
	</application>
	<supports-screens
		android:resizeable="true" />
	<uses-permission
		android:name="android.permission.INTERNET" />
</manifest>